.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background: linear-gradient(to bottom, #92487A, #E49BA6);
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  justify-content: center;
  text-align: center;
}


h1 {
  margin: 30px;
  text-shadow: 5px 0 #540863;
  font-size: 2rem;
  font-weight: 500;
  color: #FFD3D5;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.4);
}

h2, h3 {
  margin: 30px;
  font-size: 1rem;
  font-weight: 300;
  color: #FFD3D5;
}

p {
  color: #FFD3D5;
}

img {
  width: 80%;
  background-color: #ef1f1f;
  border-radius: 30%;
  mix-blend-mode: hard-light;
  background: radial-gradient(circle, #540863 40%, #FFD3D5 100%);
}


.myBtn {
  margin: 30px;
  padding: 10px 25px;
  color: white;
  border-radius: 10px;
  font-size: 1rem;
  background-color: #540863
}

.myBtn:hover {
  background-color: #540863;
  transform: scale(1.1);
  cursor: pointer;
}

#resultsBox {
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 20px auto;
  width: 80%;
  font-size: 0.9rem;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
